Repository lavish112000/Blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: correct markdown linting errors in CODEOWNERS (MD025)
  .github/CODEOWNERS
Due: none

fix: resolve markdown linting errors in bug_report template (MD009, MD032)
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

fix: correct markdown linting errors in documentation template (MD009, MD040)
  .github/ISSUE_TEMPLATE/documentation.md
Due: none

fix: resolve markdown linting errors in feature_request template (MD009, MD012, MD022)
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

fix: correct markdown linting errors in security template (MD009, MD032)
  .github/ISSUE_TEMPLATE/security.md
Due: none

fix: resolve markdown linting errors in pull_request template (MD022, MD032, MD040)
  .github/pull_request_template.md
Due: none

fix: resolve markdown linting errors in CODE_REVIEW_CHECKLIST (MD022, MD026, MD032, MD036, MD040)
  CODE_REVIEW_CHECKLIST.md
Due: none

fix: correct markdown linting errors in CODE_REVIEW_SYSTEM (MD022, MD032, MD040)
  CODE_REVIEW_SYSTEM.md
Due: none

fix: resolve extensive markdown linting errors in CONTRIBUTING (MD022, MD029, MD031, MD032, MD036)
  CONTRIBUTING.md
Due: none

fix: correct markdown linting errors in PERFORMANCE documentation
  PERFORMANCE.md
Due: none

fix: add language specifier to code fence in README (MD040)
  README.md
Due: none

fix: correct markdown linting errors in SECURITY documentation
  SECURITY.md
Due: none

feat: Add initial modern blog website with core JavaScript, HTML, and service worker.
  src/index.html
Due: prettier --write

feat: Add blog functionality with `BlogManager` class, main application script, and service worker.
  src/sw.js
Due: none

feat: Implement blog management functionality with a new BlogManager class.
  src/js/blog.js
Due: eslint --fix, prettier --write

duplicatefile deleted: src/js/main-new.js
  src/js/main-new.js
Due: eslint --fix, prettier --write

feat: Add main JavaScript file to implement core blog functionalities including navigation, search, theme, post filtering, and dynamic content loading.
  src/js/main.js
Due: eslint --fix, prettier --write

Add centralized blog posts data with 24 realistic articles
  src/js/posts-data.js
Due: eslint --fix, prettier --write

Update main.js to use centralized data and dynamic category filtering
  src/js/main.js
Due: eslint --fix, prettier --write

Add posts-data.js script to index.html
  src/index.html
Due: prettier --write

Add posts-data.js script to blog.html
  src/pages/blog.html
Due: prettier --write

Refactor technology.html to use dynamic content loading
  src/pages/technology.html
Due: prettier --write

Refactor design.html to use dynamic content loading
  src/pages/design.html
Due: prettier --write

Refactor business.html to use dynamic content loading
  src/pages/business.html
Due: prettier --write

Refactor lifestyle.html to use dynamic content loading
  src/pages/lifestyle.html
Due: prettier --write

Deprecate blog.js to prevent conflicts
  src/js/blog.js
Due: eslint --fix, prettier --write

Update components.js with sidebar widgets and navigation fixes
  src/js/components.js
Due: eslint --fix, prettier --write

Update components.css styling
  src/css/components.css
Due: prettier --write

Remove components-new.css (deleted file)
  src/css/components-new.css
Due: prettier --write

Enhance component styles for better contrast and definition
  src/css/components.css
Due: prettier --write

Update color palette variables for vibrant high-contrast theme
  src/css/main.css
Due: prettier --write

Implement single post view and dynamic content generation
  src/js/main.js
Due: eslint --fix, prettier --write

Update Service Worker cache version and activation logic
  src/sw.js
Due: none

Add single post page template
  src/pages/post.html
Due: prettier --write

Add files via upload
  business/november/bootstrapping-vs-vc-choosing-your-startups-path.html
  business/november/crypto-regulation-what-it-means-for-your-portfolio.html
  business/november/remote-leadership-managing-teams-you-never-meet.html
  business/november/sustainable-business-models-for-2025.html
  business/november/the-4-day-work-week-productivity-myth-or-reality.html
  business/november/the-creator-economy-bubble-is-it-bursting.html
  design/november/color-theory-in-dark-mode-youre-doing-it-wrong.html
  design/november/designing-for-accessibility-its-not-optional-anymore.html
  design/november/figma-vs-sketch-vs-adobe-xd-the-2025-verdict.html
  design/november/micro-interactions-the-secret-to-addictive-ux.html
  design/november/neumorphism-is-dead-long-live-glassmorphism.html
  design/november/typography-trends-for-2025-big-bold-and-brutalist.html
  lifestyle/november/biohacking-your-sleep-science-backed-tips.html
  lifestyle/november/digital-nomad-visas-the-top-10-countries-for-2025.html
  lifestyle/november/mindfulness-for-the-anxious-generation.html
  lifestyle/november/minimalism-in-a-maximalist-world.html
  lifestyle/november/the-plant-based-athlete-fueling-performance.html
  lifestyle/november/urban-gardening-growing-food-in-small-spaces.html
  technology/november/cybersecurity-in-2025-zero-trust-architecture.html
  technology/november/quantum-computing-the-end-of-encryption-as-we-know-it.html
  technology/november/the-ai-revolution-how-gpt-5-will-change-everything.html
  technology/november/the-rise-of-edge-computing-in-5g-era.html
  technology/november/vr-vs-ar-where-should-developers-focus.html
  technology/november/webassembly-vs-javascript-the-battle-for-the-browser.html
Due: none

Delete business/november directory
  business/november/bootstrapping-vs-vc-choosing-your-startups-path.html
  business/november/crypto-regulation-what-it-means-for-your-portfolio.html
  business/november/remote-leadership-managing-teams-you-never-meet.html
  business/november/sustainable-business-models-for-2025.html
  business/november/the-4-day-work-week-productivity-myth-or-reality.html
  business/november/the-creator-economy-bubble-is-it-bursting.html
Due: none

Delete design directory
  design/november/color-theory-in-dark-mode-youre-doing-it-wrong.html
  design/november/designing-for-accessibility-its-not-optional-anymore.html
  design/november/figma-vs-sketch-vs-adobe-xd-the-2025-verdict.html
  design/november/micro-interactions-the-secret-to-addictive-ux.html
  design/november/neumorphism-is-dead-long-live-glassmorphism.html
  design/november/typography-trends-for-2025-big-bold-and-brutalist.html
Due: none

Delete lifestyle directory
  lifestyle/november/biohacking-your-sleep-science-backed-tips.html
  lifestyle/november/digital-nomad-visas-the-top-10-countries-for-2025.html
  lifestyle/november/mindfulness-for-the-anxious-generation.html
  lifestyle/november/minimalism-in-a-maximalist-world.html
  lifestyle/november/the-plant-based-athlete-fueling-performance.html
  lifestyle/november/urban-gardening-growing-food-in-small-spaces.html
Due: none

Delete technology directory
  technology/november/cybersecurity-in-2025-zero-trust-architecture.html
  technology/november/quantum-computing-the-end-of-encryption-as-we-know-it.html
  technology/november/the-ai-revolution-how-gpt-5-will-change-everything.html
  technology/november/the-rise-of-edge-computing-in-5g-era.html
  technology/november/vr-vs-ar-where-should-developers-focus.html
  technology/november/webassembly-vs-javascript-the-battle-for-the-browser.html
Due: none

Add files via upload
  src/pages/business/november/bootstrapping-vs-vc-choosing-your-startups-path.html
  src/pages/business/november/crypto-regulation-what-it-means-for-your-portfolio.html
  src/pages/business/november/remote-leadership-managing-teams-you-never-meet.html
  src/pages/business/november/sustainable-business-models-for-2025.html
  src/pages/business/november/the-4-day-work-week-productivity-myth-or-reality.html
  src/pages/business/november/the-creator-economy-bubble-is-it-bursting.html
  src/pages/design/november/color-theory-in-dark-mode-youre-doing-it-wrong.html
  src/pages/design/november/designing-for-accessibility-its-not-optional-anymore.html
  src/pages/design/november/figma-vs-sketch-vs-adobe-xd-the-2025-verdict.html
  src/pages/design/november/micro-interactions-the-secret-to-addictive-ux.html
  src/pages/design/november/neumorphism-is-dead-long-live-glassmorphism.html
  src/pages/design/november/typography-trends-for-2025-big-bold-and-brutalist.html
  src/pages/lifestyle/november/biohacking-your-sleep-science-backed-tips.html
  src/pages/lifestyle/november/digital-nomad-visas-the-top-10-countries-for-2025.html
  src/pages/lifestyle/november/mindfulness-for-the-anxious-generation.html
  src/pages/lifestyle/november/minimalism-in-a-maximalist-world.html
  src/pages/lifestyle/november/the-plant-based-athlete-fueling-performance.html
  src/pages/lifestyle/november/urban-gardening-growing-food-in-small-spaces.html
  src/pages/technology/november/cybersecurity-in-2025-zero-trust-architecture.html
  src/pages/technology/november/quantum-computing-the-end-of-encryption-as-we-know-it.html
  src/pages/technology/november/the-ai-revolution-how-gpt-5-will-change-everything.html
  src/pages/technology/november/the-rise-of-edge-computing-in-5g-era.html
  src/pages/technology/november/vr-vs-ar-where-should-developers-focus.html
  src/pages/technology/november/webassembly-vs-javascript-the-battle-for-the-browser.html
Due: prettier --write

Path conditions:
  eslint --fix: any of: src/js/**/*.js
  prettier --write: ((any of: src/js/**/*.js) or (any of: src/css/**/*.css)) or (any of: src/**/*.html)
