Repository lavish112000/Blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/js/**/*.js": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/css/**/*.css": [
    "prettier --write"
  ],
  "src/**/*.html": [
    "prettier --write"
  ]
}

Clean up posts data file
  src/js/posts-data.js
Due: eslint --fix, prettier --write

Update main.js to support static page URLs
  src/js/main.js
Due: eslint --fix, prettier --write

Update footer styling to match design
  src/css/components.css
Due: prettier --write

Minor cleanup in index.html
  src/index.html
Due: prettier --write

Add all untracked files and changes
  scripts/generate_static_blog.js
  src/pages/business/november/bootstrapping-vs-vc-choosing-your-startups-path.html
  src/pages/business/november/crypto-regulation-what-it-means-for-your-portfolio.html
  src/pages/business/november/remote-leadership-managing-teams-you-never-meet.html
  src/pages/business/november/sustainable-business-models-for-2025.html
  src/pages/business/november/the-4-day-work-week-productivity-myth-or-reality.html
  src/pages/business/november/the-creator-economy-bubble-is-it-bursting.html
  src/pages/design/november/color-theory-in-dark-mode-youre-doing-it-wrong.html
  src/pages/design/november/designing-for-accessibility-its-not-optional-anymore.html
  src/pages/design/november/figma-vs-sketch-vs-adobe-xd-the-2025-verdict.html
  src/pages/design/november/micro-interactions-the-secret-to-addictive-ux.html
  src/pages/design/november/neumorphism-is-dead-long-live-glassmorphism.html
  src/pages/design/november/typography-trends-for-2025-big-bold-and-brutalist.html
  src/pages/lifestyle/november/biohacking-your-sleep-science-backed-tips.html
  src/pages/lifestyle/november/digital-nomad-visas-the-top-10-countries-for-2025.html
  src/pages/lifestyle/november/mindfulness-for-the-anxious-generation.html
  src/pages/lifestyle/november/minimalism-in-a-maximalist-world.html
  src/pages/lifestyle/november/the-plant-based-athlete-fueling-performance.html
  src/pages/lifestyle/november/urban-gardening-growing-food-in-small-spaces.html
  src/pages/technology/november/cybersecurity-in-2025-zero-trust-architecture.html
  src/pages/technology/november/quantum-computing-the-end-of-encryption-as-we-know-it.html
  src/pages/technology/november/the-ai-revolution-how-gpt-5-will-change-everything.html
  src/pages/technology/november/the-rise-of-edge-computing-in-5g-era.html
  src/pages/technology/november/vr-vs-ar-where-should-developers-focus.html
  src/pages/technology/november/webassembly-vs-javascript-the-battle-for-the-browser.html
Due: prettier --write

feat: add initial blog structure, content, and static generation script.
  scripts/generate_static_blog.js
Due: none

feat: add initial blog structure with main pages and multiple new articles across categories.
  src/index.html
Due: prettier --write

feat: Add blog post template, main blog page, and multiple new blog posts across various categories.
  src/pages/blog.html
Due: prettier --write

feat: Add new blog posts for November across design, lifestyle, technology, and business categories, including a generic post template.
  src/pages/post.html
Due: prettier --write

Fix duplication bug in technology.html
  src/pages/post.html
  src/pages/technology.html
Due: prettier --write

Fix duplication bug in design.html
  src/pages/design.html
Due: prettier --write

Fix duplication bug in business.html
  src/pages/business.html
Due: prettier --write

Fix duplication bug in lifestyle.html
  src/pages/lifestyle.html
Due: prettier --write

Regenerate static blog posts
  src/pages/business/november/bootstrapping-vs-vc-choosing-your-startups-path.html
  src/pages/business/november/crypto-regulation-what-it-means-for-your-portfolio.html
  src/pages/business/november/remote-leadership-managing-teams-you-never-meet.html
  src/pages/business/november/sustainable-business-models-for-2025.html
  src/pages/business/november/the-4-day-work-week-productivity-myth-or-reality.html
  src/pages/business/november/the-creator-economy-bubble-is-it-bursting.html
  src/pages/design/november/color-theory-in-dark-mode-youre-doing-it-wrong.html
  src/pages/design/november/designing-for-accessibility-its-not-optional-anymore.html
  src/pages/design/november/figma-vs-sketch-vs-adobe-xd-the-2025-verdict.html
  src/pages/design/november/micro-interactions-the-secret-to-addictive-ux.html
  src/pages/design/november/neumorphism-is-dead-long-live-glassmorphism.html
  src/pages/design/november/typography-trends-for-2025-big-bold-and-brutalist.html
  src/pages/lifestyle/november/biohacking-your-sleep-science-backed-tips.html
  src/pages/lifestyle/november/digital-nomad-visas-the-top-10-countries-for-2025.html
  src/pages/lifestyle/november/mindfulness-for-the-anxious-generation.html
  src/pages/lifestyle/november/minimalism-in-a-maximalist-world.html
  src/pages/lifestyle/november/the-plant-based-athlete-fueling-performance.html
  src/pages/lifestyle/november/urban-gardening-growing-food-in-small-spaces.html
  src/pages/post.html
  src/pages/technology/november/cybersecurity-in-2025-zero-trust-architecture.html
  src/pages/technology/november/quantum-computing-the-end-of-encryption-as-we-know-it.html
  src/pages/technology/november/the-ai-revolution-how-gpt-5-will-change-everything.html
  src/pages/technology/november/the-rise-of-edge-computing-in-5g-era.html
  src/pages/technology/november/vr-vs-ar-where-should-developers-focus.html
  src/pages/technology/november/webassembly-vs-javascript-the-battle-for-the-browser.html
Due: prettier --write

Fix main.js initialization and internal link generation
  src/js/main.js
Due: eslint --fix, prettier --write

Fix path prefix calculation in components.js
  src/js/components.js
Due: eslint --fix, prettier --write

Add AdSense script to index.html
  src/index.html
Due: prettier --write

Add AdSense script to about.html
  src/pages/about.html
Due: prettier --write

Add AdSense script to blog.html
  src/pages/blog.html
Due: prettier --write

Add AdSense script to contact.html
  src/pages/contact.html
Due: prettier --write

Add AdSense script to post.html template
  src/pages/post.html
Due: prettier --write

Add AdSense script to technology.html
  src/pages/technology.html
Due: prettier --write

Add AdSense script to design.html
  src/pages/design.html
Due: prettier --write

Add AdSense script to business.html
  src/pages/business.html
Due: prettier --write

Add AdSense script to lifestyle.html
  src/pages/lifestyle.html
Due: prettier --write

Regenerate all static blog posts with AdSense script
  src/pages/business/november/bootstrapping-vs-vc-choosing-your-startups-path.html
  src/pages/business/november/crypto-regulation-what-it-means-for-your-portfolio.html
  src/pages/business/november/remote-leadership-managing-teams-you-never-meet.html
  src/pages/business/november/sustainable-business-models-for-2025.html
  src/pages/business/november/the-4-day-work-week-productivity-myth-or-reality.html
  src/pages/business/november/the-creator-economy-bubble-is-it-bursting.html
  src/pages/design/november/color-theory-in-dark-mode-youre-doing-it-wrong.html
  src/pages/design/november/designing-for-accessibility-its-not-optional-anymore.html
  src/pages/design/november/figma-vs-sketch-vs-adobe-xd-the-2025-verdict.html
  src/pages/design/november/micro-interactions-the-secret-to-addictive-ux.html
  src/pages/design/november/neumorphism-is-dead-long-live-glassmorphism.html
  src/pages/design/november/typography-trends-for-2025-big-bold-and-brutalist.html
  src/pages/lifestyle/november/biohacking-your-sleep-science-backed-tips.html
  src/pages/lifestyle/november/digital-nomad-visas-the-top-10-countries-for-2025.html
  src/pages/lifestyle/november/mindfulness-for-the-anxious-generation.html
  src/pages/lifestyle/november/minimalism-in-a-maximalist-world.html
  src/pages/lifestyle/november/the-plant-based-athlete-fueling-performance.html
  src/pages/lifestyle/november/urban-gardening-growing-food-in-small-spaces.html
  src/pages/technology/november/cybersecurity-in-2025-zero-trust-architecture.html
  src/pages/technology/november/quantum-computing-the-end-of-encryption-as-we-know-it.html
  src/pages/technology/november/the-ai-revolution-how-gpt-5-will-change-everything.html
  src/pages/technology/november/the-rise-of-edge-computing-in-5g-era.html
  src/pages/technology/november/vr-vs-ar-where-should-developers-focus.html
  src/pages/technology/november/webassembly-vs-javascript-the-battle-for-the-browser.html
Due: prettier --write

Add Finance category: new page, nav update, and sample posts
  scripts/generate_static_blog.js
  src/index.html
  src/js/components.js
  src/js/posts-data.js
  src/pages/finance.html
  src/pages/finance/november/cryptocurrency-in-2025-a-mature-asset-class.html
  src/pages/finance/november/personal-finance-101-budgeting-in-a-high-inflation-era.html
  src/pages/finance/november/the-future-of-fintech-beyond-mobile-banking.html
Due: eslint --fix, prettier --write

Add Azure best practices copilot instruction
  .github/copilot-instructions.md
Due: none

Add 27 article templates with content calendar
  ARTICLE_TEMPLATES_AND_CONTENT_CALENDAR.md
Due: none

Document dummy article removal and data cleanup
  BLOG_CLEANUP_SUMMARY.md
Due: none

Add comprehensive website transformation summary
  WEBSITE_TRANSFORMATION_COMPLETE.md
Due: none

Add CSS Grid mastery article with code examples
  src/pages/design/october/mastering-modern-css-grid-layout.html
Due: prettier --write

Add science of mindfulness article with research
  src/pages/lifestyle/october/the-science-of-mindfulness.html
Due: prettier --write

Add future of web development 2025 article
  src/pages/technology/october/the-future-of-web-development-2025.html
Due: prettier --write

Add browser cache clearing instructions
  CACHE_CLEAR_INSTRUCTIONS.md
Due: none

Update footer with 2025 copyright
  src/components/footer.html
Due: prettier --write

Update sidebar categories
  src/components/sidebar.html
Due: prettier --write

Fix contact page styles and icon sizes
  src/css/contact-page.css
Due: prettier --write

Update posts data with real articles
  src/data/posts.json
Due: none

Update blog data script with real articles
  src/js/posts-data.js
Due: eslint --fix, prettier --write
